NODE_ENV="development"
PORT=8080
OPENAI_API_KEY=
NEO4J_DATABASE_URL=neo4j://127.0.0.1:7687
NEO4J_DATABASE_USER=neo4j
NEO4J_DATABASE_PASSWORD=password
NEO4J_DATABASE=idealista-scraping
CHROMADB_DATABASE=idealista-scraping
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=idealista-scraping
REDIS_URL=redis://localhost:6379
TELEGRAM_TOKEN=
EXTRACT_KEYWORDS_BY_JSON_PROMPT_ID=pmpt_69300b20e0f081948fe192466cab5b8b011e3a9968f912f9
CONSTRUCT_QUERY_PROMPT_ID=pmpt_69303d87bc4481979b0fc0ccd93d1f330330c052f41048e2
SEMANTIC_ANSWER_PROMPT_ID=pmpt_693135f7b8b48196891b9c8c53cd75a40ecf7bae56fb115e
FILTER_ELEMENTS_PROMPT_ID=pmpt_693a7d82abd48190a54e1c4ead6e3ce20e3738f1539409a9
CHROME_PROFILE=C:\temp\ChromeProfile
URL_BASE=https://www.idealista.com/alquiler-viviendas/balears-illes/mallorca/mapa